<h1 style="magin-bottom: 20px;">カート内の確認</h1>
<% if !@order_item.nil? && @order_item.errors.any? %>
	<div class="alert alert-danger">
		<ul>
			<% @order_item.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>
<% if @order_items.size == 0 %>
	<h3 class="text-center" style="margin-top: 20px; margin-bottom: 30px;">カートに商品は入っていません。</h3>
		<%= link_to "買い物を続ける", products_path, class:"square__btn", style:"margin-bottom: 20px;" %>
<% else %>
	<% @order_items.each do |order_item| %>
		<%= render 'carts/cart_row',confirm:false, product: order_item.product, order_item: order_item, show_total: true %>
	<% end %>
	<%= link_to "商品を購入する", buy_cart_path, class:"square__btn", style:"margin-top: 20px; margin-bottom: 20px;" %>
<% end %>
