@charset "UTF-8";
/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", Hiragino Kaku Gothic Pro, "メイリオ", Meiryo, sans-serif;
  color: #666;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* pankuzu */

.pankuzu {
  padding: 20px 50px 0;
  max-width: 1240px;
  margin: 0 auto;
}
.pankuzu ul {
  display: -webkit-box-flex;
  display: flex;
}
.pankuzu ul li {
  font-size: 1.2rem;
}
.pankuzu ul li:not(:last-child):after {
  font-family: FontAwesome;
  content: "\f105";
  color: #ff9999;
  margin: 0 20px;
}
.pankuzu ul li a {
  color: #666;
  text-decoration: none;
}

/* wrapper */

/* product_index */

.wrapper1 {
  width: 1240px;
  margin: 0 auto;
  padding: 50px 40px 100px;
  display: -webkit-box-flex;
  display: flex;
}

/* product_show */

.wrapper2 {
  width: 1040px;
  margin: 0 auto;
  padding: 50px 40px 100px;
}

/* side */

.side {
  flex: 2;
  margin-right: 40px;
}
.side .category__title {
  font-size: 2.2rem;
}
.side .category {
  padding: 30px 0 0;
}
.side .category .category__small--title {
  position: relative;
  font-size: 1.7rem;
  padding-bottom: 20px;
}
.side .category .category__small--title:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #ff9999;
}
.side .category .category__small {
  padding: 20px 0 0 30px;
}
.side .category .category__small li {
  padding: 5px;
  margin-bottom: 10px;
}
.side .category .category__small li:hover {
  background: rgba(255, 153, 153, 0.1);
}
.side .category .category__small a {
  color: #666;
  font-size: 1.5rem;
  text-decoration: none;
}


/* main */


.main {
  flex: 7;
}
.main .product__item {
  display: -webkit-box-flex;
  display: flex;
}
.main .product__item:not(:last-child) {
  padding-bottom: 40px;
}
.main .product__item .product__items {
  flex: 1;
  display: block;
  padding: 17px 15px;
}
.main .product__item .product__items:not(:last-child) {
  margin-right: 40px;
}
.main .product__item .product__items a {
  color: #666;
  text-decoration: none;
}
.main .product__item .product__items .product__item--photo {
  padding-bottom: 10px;
}
.main .product__item .product__items .product__item--photo img {
  width: 100%;
  border: 2px solid #efefef;
}
.main .product__item .product__items .product__item--text h2 {
  font-size: 1.4rem;
  line-height: 1.5;
}
.main .product__item .product__items .product__item--text .value {
  padding: 10px 0;
}
.main .product__item .product__items .product__item--text p {
  font-size: 1.2rem;
  line-height: 1.2;
}
.main .product__item .product__items:hover {
  box-shadow: 0px 0px 10px #efefef;
}


/* page */

.page {
  padding-bottom: 100px;
}
.page ul {
  display: -webkit-box-flex;
  display: flex;
  justify-content: center;
}
.page ul li {
  font-size: 1.8rem;
}
.page ul li:not(:last-child) {
  margin-right: 10px;
}
.page ul li .select {
  background: #ff9999;
  color: #fff;
}
.page ul li a {
  border: 2px solid #ff9999;
  color: #666;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  transition: .5s;
}
.page ul li a:hover {
  background: #ff9999;
  color: #fff;
}


/* btn */

.square__btn {
  text-align: center;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 700;
  width: 350px;
  padding: 20px 30px;
  border-radius: 30px;
  text-decoration: none;
  color: #fff;
  background: #ff9999;
}
.square__btn:hover {
  opacity: 0.8;
}

.review__btn {
  text-align: center;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  background: #ff9999;
}


/* review */

.review__btn:hover {
  opacity: 0.8;
}

.review__model {
  display: -webkit-box-flex;
  display: flex;
  padding-top: 50px;
}
.review__model .model__items {
  flex: 1;
  padding: 20px;
  border-radius: 11px;
  background: rgba(81, 167, 249, 0.1);
}
.review__model .model__items:not(:last-child) {
  margin-right: 20px;
  background: rgba(255, 153, 153, 0.1);
}
.review__model h2 {
  font-size: 2rem;
}
.review__model .review__text {
  padding-top: 50px;
}
.review__model .review__text .review__box {
  display: -webkit-box-flex;
  display: flex;
  padding-bottom: 20px;
}
.review__model .review__text .review__box h2 {
  font-size: 1.8rem;
  margin-right: 10px;
}
.review__model .review__text p {
  font-size: 1.4rem;
  line-height: 1.5;
}
.review__model .review__text .review__item {
  color: #95989A;
  display: -webkit-box-flex;
  display: flex;
  padding-bottom: 10px;
}
.review__model .review__text .review__item .name {
  margin-right: 10px;
}

.review {
  padding-top: 50px;
}
.review h2 {
  font-size: 2rem;
}
.review .review__text {
  padding-top: 50px;
}
.review .review__text .review__box {
  display: -webkit-box-flex;
  display: flex;
  padding-bottom: 20px;
}
.review .review__text .review__box h2 {
  font-size: 1.8rem;
  margin-right: 10px;
}
.review .review__text p {
  font-size: 1.4rem;
  line-height: 1.5;
}
.review .review__text .review__item {
  color: #95989A;
  display: -webkit-box-flex;
  display: flex;
  padding-bottom: 10px;
}
.review .review__text .review__item .name {
  margin-right: 10px;
}


/* flex-box */


.flex__box {
  display: -webkit-box-flex;
  display: flex;
  align-items: flex-start;
  padding-bottom: 100px;
}
.flex__box .side {
  flex: 2;
  margin-right: 50px;
}
.flex__box .side img {
  border: 2px solid #efefef;
  width: 100%;
  height: 100%;
}
.flex__box .main {
  flex: 3;
}
.flex__box .main .product__items {
  padding-bottom: 100px;
}
.flex__box .main .product__items a {
  color: #666;
  text-decoration: none;
}
.flex__box .main .product__items .product__item--text h2 {
  font-size: 2.2rem;
  line-height: 1.5;
}
.flex__box .main .product__items .product__item--text .price {
  font-size: 2.2rem;
  padding: 30px 0 0;
}
.flex__box .main .product__items .product__item--text .value {
  padding: 10px 0 5px;
}
.flex__box .main .product__items .product__item--text p {
  font-size: 1.4rem;
  line-height: 1.2;
}
.flex__box .main .number h2 {
  font-size: 1.8rem;
  padding-bottom: 20px;
}
.flex__box .main .number input[type=number] {
  text-align: center;
  display: block;
  width: 250px;
  margin-bottom: 50px;
  padding: 12px;
  outline: none;
  border: 2px solid rgba(255, 153, 153, 0.3);
  background-color: rgba(255, 153, 153, 0.1);
  color: #333;
  font-size: 1.3rem;
}
.flex__box .main .number input[type=number]:focus {
  border: 2px solid #ff9999;
}


/* product */

.product__description {
  padding-bottom: 100px;
}
.product__description h2 {
  font-size: 2rem;
}
.product__description .description__text {
  padding-top: 50px;
}
.product__description .description__text h2 {
  font-size: 1.8rem;
  padding-bottom: 10px;
}
.product__description .description__text p {
  font-size: 1.4rem;
  line-height: 1.5;
}
