// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#sign-up-table{
	margin: 0 auto;
}
.vertical-align input,
.vertical-align select{
	vertical-align:middle;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.user-form {
	width: 400px;
	margin: 16px auto;
	font-size: 16px;
}
/* Reset top and bottom margins from certain elements */
.user-form p{
	margin-top: 0;
	margin-bottom: 0;
}

.user-form-header {
	background: #ff9999;
	padding: 20px;
	font-size: 1.4em;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}

.user-form-container {
	background: #ebebeb;
}
/* Every row inside .login-container is defined with p tags */
.user-form p {
	padding: 12px;
}

.user-form input {
	box-sizing: border-box;
	display: block;
	width: 100%;
	border-width: 1px;
	border-style: solid;
	margin:  16px;
	outline: 0;
	font-family: inherit;
	font-size: 0.95em;
}

.user-form input[type="email"],
.user-form input[type="password"] {
	background: #fff;
	border-color: #bbb;
	color: #555;
}
/* Text fields' focus effect */
.user-form input[type="email"]:focus,
.user-form input[type="password"]:focus {
	border-color: #888;
}

.user-form input[type="submit"] {
	background: #e88;
	border-color: transparent;
	color: #fff;
	cursor: pointer;
}

.user-form input[type="submit"]:hover {
	background: #f99;
}
/* Buttons' focus effect */
.user-form input[type="submit"]:focus {
	border-color: #f99;
}
