<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
		<%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>
		<%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>
  </div>
</header>
